<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<style>
		.h1{
			background-color:cadetblue;
		}
	</style
</head>
<body>
    <div class="container">
    
        <h5 class=text-center h1>Welcome to All</h5>

        <form action="#" method="POST">
            Name: <input type="text" name="emName" id="emName" class="form-control" />
            Salary: <input type="number" name="empSalary" id="empSalary" class="form-control">
            Department: 
            <select name="empDept" id="empDept" class="form-control">
                    <option value="">-SELECT-</option>
                    <option value="BA">BA</option>
                    <option value="QA">QA</option>
                    <option value="PROD">PROD</option>
            </select>
            Address: <textarea name="empAddr"id="empAddr" class="form-control"></textarea>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</body>
</html>